<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>Message - OnlyUs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
</head>

<body>
  <div class="chat-container">
    <div class="header">
      <h1>Welcome back to your private little world!<br>
        Whispers, laughter, and everything in between</h1>

        <form action="{{ url_for('logout') }}" method="GET" style="text-align: right; margin: 10px;">
          <button type="submit" style="font-size: 16px;">Logout</button>
        </form>
      </div>

    <div id="message-area">
      {% for msg in messages %}
        {% if msg.user_id == uid %}
        <div class="message my-message">
          <strong>{{ msg.user_name }}:</strong> {{ msg.message }}

          <form action="/delete/{{ msg.id }}" method="POST" style="display:inline;">
            <button type="submit">削除</button>
        　</form>
        </div>
      {% else %}
        <div class="message other-message">
          <strong>{{ msg.user_name }}</strong>{{ msg.message }}
        </div>
      {% endif %}
      {% endfor %}
    </div>

      <!-- メッセージ送信フォーム -->
      <form class="input-area" method="POST" action="/chat">
        <textarea name="message" id="message-input"></textarea>
        <button type="submit">send</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/scroll-message.js') }}"></script>
  </body>

  </html>
