<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - OnlyUs</title>

    <!-- staticフォルダの中にあるstyle.cssというファイルを読み込む -->
    <!-- url_forはアプリが勝手にurlを作ってくれる！-->
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">

</head>
<body class="signup-page">

    <h1>Join me. I've saved a seat for you.</h1>
    <!-- ユーザー名、パスワードとパスワード確認のボックスと、サインアップボタンを作る　-->
    <form method="POST" action="/signup">
        <input type="text" name="username" placeholder="username" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="password" name="confirm_password" placeholder="confirm password" required><br>
        <button type="submit">sign up</button>
    </form>

</body>  
</html>
